html,
body {
	overflow-x: hidden;
	scroll-behavior: smooth !important;
	text-rendering: optimizeLegibility !important;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
